footer {
  width: 100%;
  height: auto;
  background: #0f0f0f;
  padding: 8rem;
  display: flex;
  flex-direction: column;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.mainLink {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.footerLink {
  font-size: 16px;
  color: #999999;
  text-decoration: none;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .row {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

footer .row .icon {
  padding: 10px;
  background: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 8px;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footerBottom {
  padding: 3rem 0;
  border-top: 1px solid #999999;
  display: flex;
  justify-content: space-between;
}

.footerBottom .leftSide p {
  font-size: 18px;
  color: #999999;
}

.footerBottom .rightSide {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1280px) {
  .mainLink {
    font-size: 16px;
  }

  .footerLink {
    font-size: 14px;
  }

  footer .row {
    font-size: 16px;
  }

  footer .row .icon {
    padding: 8px;
    background: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 8px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .footerBottom .leftSide p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {

  footer {
    padding: 6rem;
  }

  .footerTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 450px) {

  footer {
    padding: 5rem;
  }

  .footerTop {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: space-between;
  }

  .footerBottom {
    text-align: center;
  }

  .footerBottom .leftSide p {
    font-size: 15px;
  }

  .footerBottom .rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
