.planSection {
  margin: 2rem 4%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: auto;
}

.planSectionTitle {
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.planSectionDescription {
  font-size: 15px;
  font-weight: lighter;
}

.planSectionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.monthlyPlanCard,
.yearlyPlanCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #1a1a1a;
  border: 1px solid #262626;
  padding: 20px 30px;
  border-radius: 12px;
  height: auto;
  cursor: pointer;
  animation: fadeIn 0.4s ease-in-out;
}

.planCategory {
  font-size: 20px;
  margin-bottom: 12px;
}

.planDescription {
  font-size: 14px;
  margin-bottom: 15px;
}

.planPrice {
  margin-bottom: 20px;
  font-size: 15px;
  color: #999999;
}

.planPrice span {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.monthlyPlanCard .buttons,
.yearlyPlanCard .buttons {
  display: flex;
  gap: 20px;
}

.monthlyPlanCard .buttons button,
.yearlyPlanCard .buttons button {
  flex: 1;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.startTrial {
  background: #141414;
  border: 1px solid #262626;
}

.choosePlan {
  background: #e50000;
  border: none;
}

.startYourFreeTrial {
  background: url("../assets/images/plan_section_image.png");
  height: 25rem;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.startYourFreeTrial h1 {
  font-size: 40px;
}

.startYourFreeTrial p {
  font-size: 12px;
  font-weight: lighter;
}

.startYourFreeTrial button {
  background: #e50000;
  color: white;
  border: none;
  padding: 2rem 3rem;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .planSectionTitle {
    font-size: 2.5rem;
  }

  .planSectionDescription {
    font-size: 1.2rem;
  }

  .monthlyPlanCard .buttons,
  .yearlyPlanCard .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .startYourFreeTrial .left-side h1 {
    font-size: 30px;
  }

  .startYourFreeTrial .right-side button {
    font-size: 14px;
    padding: 1.5rem 3rem;
  }
}

@media (max-width: 768px) {
  .planSection {
    margin: 5rem 4%;
  }
  .planSectionTop {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .planSectionTitle {
    font-size: 2rem;
  }

  .planSectionDescription {
    font-size: 1rem;
  }

  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .startYourFreeTrial {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }

  .startYourFreeTrial .left-side h1 {
    font-size: 20px;
  }

  .startYourFreeTrial .right-side button {
    font-size: 12px;
    padding: 1rem 2rem;
  }
}

@media (max-width: 400px) {
  .planCategory {
    font-size: 16px;
  }

  .planDescription {
    font-size: 12px;
  }
}
